# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [326]:
import pandas as pd
import numpy as np
file = pd.read_csv('C:/Users/Wiio/PycharmProjects/Makrushin_TOD/TOD_Homework_2/data/sp500hst.txt',names = ["date", "ticker", "open", "high", "low", "close", "volume"], engine='python')
file

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [327]:
[np.mean(file[i]) for i in file.loc[:, 'open':'close']]

[42.59545765904678, 43.102243387667855, 42.05446366521448, 42.60186484817335]

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [328]:
file_copy = file
month = file_copy['date'].astype(str).str.slice(4, 6)
month.name = 'month'
file_copy = pd.concat([file_copy, month], axis=1)
file_copy = file_copy[['date', 'month', *[i for i in file.keys()[1:]]]]
file_copy
# pd.merge(file_copy, month)
# file_copy

            date month ticker   open     high     low  close  volume
0       20090821    08      A  25.60  25.6100  25.220  25.55   34758
1       20090824    08      A  25.64  25.7400  25.330  25.50   22247
2       20090825    08      A  25.50  25.7000  25.225  25.34   30891
3       20090826    08      A  25.32  25.6425  25.145  25.48   33334
4       20090827    08      A  25.50  25.5700  25.230  25.54   70176
...          ...   ...    ...    ...      ...     ...    ...     ...
122569  20100813    08    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    08    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    08    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    08    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    08    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для одинаковых значений тикеров.

In [329]:
file.groupby('ticker').sum()

              date       open        high         low       close    volume
ticker
A       4923802646   7407.540   7489.1202   7317.2843   7410.3050   8609336
AA      4923802646   3206.305   3252.4585   3146.5237   3196.5995  81898998
AAPL    4843409396  53343.525  53877.0314  52636.6681  53291.2073  52261170
ABC     4923802646   6720.870   6782.4967   6646.1108   6720.1900   9006756
ABT     4923802646  12494.210  12584.5576  12386.0907  12491.6900  18975870
...            ...        ...         ...         ...         ...       ...
XTO     4159974364   9240.550   9326.8261   9135.3342   9229.9000  21297931
YHOO    4883610729   3852.710   3900.2942   3802.0314   3850.8526  56837171
YUM     4923802646   9176.940   9265.1362   9088.1754   9182.5100  10971538
ZION    4903711534   4805.350   4921.7573   4691.3648   4807.4981  15551119
ZMH     4923802646  13774.140  13915.9962  13633.8349  13780.3000   4938916

[524 rows x 6 columns]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [330]:
file_1 = pd.read_csv('C:/Users/Wiio/PycharmProjects/Makrushin_TOD/TOD_Homework_2/data/sp_data2.csv', sep =';', names = ["ticker", "ticker_mean", "3",], engine='python')

cl = file_1.drop('3', axis=1)
res = pd.merge(file, cl)

res = res[['date','ticker_mean', *[i for i in file.keys()[1:]]]]
res

,date,ticker_mean,ticker,open,high,low,close,volume
0,20090821,Agilent Technologies,A,25.60,25.6100,25.220,25.55,34758
1,20090824,Agilent Technologies,A,25.64,25.7400,25.330,25.50,22247
2,20090825,Agilent Technologies,A,25.50,25.7000,25.225,25.34,30891
3,20090826,Agilent Technologies,A,25.32,25.6425,25.145,25.48,33334
4,20090827,Agilent Technologies,A,25.50,25.5700,25.230,25.54,70176
...,...,...,...,...,...,...,...,...
82167,20100813,Zions Bancorp,ZION,20.17,20.4300,19.840,19.89,25193
82168,20100816,Zions Bancorp,ZION,19.81,19.9600,19.600,19.95,25914
82169,20100817,Zions Bancorp,ZION,20.07,20.4700,19.830,20.31,31717
82170,20100819,Zions Bancorp,ZION,19.83,20.0000,19.130,19.35,45935
82171,20100820,Zions Bancorp,ZION,19.15,19.2700,18.810,19.14,37225

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [331]:
a='C:/Users/Wiio/PycharmProjects/Makrushin_TOD/TOD_Homework_2/data/'
recipes = pd.read_csv(a + 'recipes_sample.csv', parse_dates=['submitted'], header=0)
reviews = pd.read_csv(a + 'reviews_sample.csv', header=0)
reviews = reviews.rename(columns={'Unnamed: 0':'review_id'})
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [332]:
a = [recipes, reviews]
b = ['Recipes', 'Reviews']

for i in range(len(a)):
    print(b[i], end = ' ')
    print(len(a[i].index), end = ' ')
    print(len(a[i].columns))

print(recipes.dtypes)
reviews.dtypes

Recipes 30000 8
Reviews 126696 6
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

review_id     int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [334]:
# tables = [recipes, reviews, 'recipes', 'reviews']
# na_sum=0
# for i in range(0, len(tables) - 2):
#     for j in tables[i].keys():
#         print(f'{tables[i + 2]}| {j}: {tables[i][j].isna().sum()} ')
#         na_sum+=tables[i][j].isna().sum()
#     print(f'Пропуски в отношении ко всем строкам: {na_sum/len(tables[i].index)}')
#     na_sum=0
#     print('---------------------', end='')
#     print() 
(len(recipes) - len(recipes.dropna()))/len(recipes)

0.5684666666666667

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
print(recipes['id'].mean(), recipes['minutes'].mean())
print(reviews['rating'].mean())

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
print(pd.Series([recipes.iloc[i][0] for i in np.random.randint(0, 29999, 10)]))

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews_copy = reviews.copy()
reviews_copy.reset_index().set_index('index')

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

recipes

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes[recipes['submitted'].dt.year <= 2010]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
des_len = pd.DataFrame({'description_length': recipes['description'].str.len()})
temp = pd.concat([recipes,des_len], axis=1)
temp = temp[[*[i for i in temp.keys()[:-3]],'n_ingredients', 'description', 'description_length']]
temp

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
temp = recipes
temp['name'] = temp['name'].transform(lambda x: x.title())
temp

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
temp = recipes
length = pd.DataFrame({'name_word_count':temp['name'].transform(lambda x: len(x.split()))})
temp = pd.merge(temp, length,left_index=True, right_index=True)
temp[['name', 'name_word_count',*[i for i in temp.keys()[1:-1]]]]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
temp = recipes
# temp[temp['contributor_id'] == 1533] #проверка
temp = temp.groupby('contributor_id')['name'].count()
temp 
#temp['name'].max()| 421 - max

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
temp = reviews
mean_rating = temp.groupby('recipe_id')['rating'].mean().reset_index(name='mean_rating')
# x = pd.concat([reviews['recipe_id'], recipes['id']], axis=1)
# x['id'] = x['id'].fillna(0).astype(int)
# x.sort_index(axis=1, ascending=False)
mean_rating

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes['year'] = pd.to_datetime(recipes['submitted']).dt.year
recipes.groupby('year')['name'].count()

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
reviews_notnan = reviews[~reviews['review'].isna()]
recipes_notnan = recipes[recipes['id'].isin(reviews_notnan['recipe_id'])]
temp = pd.merge(recipes_notnan, reviews_notnan, left_on='id', right_on='recipe_id')
temp = temp[['id', 'name', 'user_id', 'rating']]
temp

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3